@font-face {
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/ptsans/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans/ptsans.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/ptsans/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsans/ptsansbold.woff') format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/cuprum/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum/cuprum.woff') format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/cuprum/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprum/cuprumbold.woff') format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/cuprum/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprum/cuprumitalic.woff') format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/cuprum/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprum/cuprumbolditalic.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

img {
    max-height: 100%;
    height: auto;
}

.container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    font-family: 'Cuprum', Arial, sans-serif;
}

.page-header__top {
    color: #ffffff;

    background-color: #293449;
}

.page-header__top .container {
    display: flex;
}

.logo {
    display: inline-block;
    width: 220px;
    vertical-align: middle;
    padding: 10px 20px 5px;

    text-decoration: none;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
}

.logo.page-footer__logo {
    padding: 20px;
}

.search-form {
    width: 270px;

    font-size: 17px;
    line-height: 18px;
}

.search-form__input {
    background-color: #293449;
    border: 0;
}

.search-form__input:hover {
    background-color: #212a3a;
}

.search-form__input:focus {
    background-color: #ffffff;
}

.search-form__input::placeholder {
    color: #ffffff;
}

.page-header__product-toolbar {
    display: flex;
}

.page-header__product-toolbar .bookmark,
.page-header__product-toolbar .basket,
.page-header__product-toolbar .basket.basket--filled,
.page-header__product-toolbar .order {
    display: block;
    width: 150px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.page-header__product-toolbar .basket.basket--filled {
    background-color: #ee3643;
}

.page-header__product-toolbar .bookmark:hover,
.page-header__product-toolbar .basket:hover,
.page-header__product-toolbar .basket.basket--filled:hover {
    background-color: #212a3a;
}

.page-header__product-toolbar .bookmark:active,
.page-header__product-toolbar .basket:active,
.page-header__product-toolbar .basket.basket--filled:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.page-header__product-toolbar .order {
    background-color: #63a63e;
}

.page-header__product-toolbar .order:hover {
    background-color: #5fbb2d;
}

.page-header__product-toolbar .order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.page-header__bottom {
    padding-top: 46px;
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.page-header__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 44px;
}

.page-header__message {
    width: 249px;
    padding-left: 53px;
    margin: 0;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.page-header__contacts {
    width: 270px;
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.page-header__phone {
    display: inline-block;
    width: 270px;
    vertical-align: middle;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-decoration: none;
    text-align: center;

    border: solid 3px #ffffff;
}

.page-header__phone.page-header__phone--bright {
    color: #e9292a;
}

.user-block {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
}

.authorized-user-block {
    width: 299px;
}

.button {
    display: inline-block;
    vertical-align: middle;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;

    border: 0;
}

.button.button--user-login,
.button.button--user-reg,
.button.button--user-profile {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.button.button--user-login:hover,
.button.button--user-reg:hover {
    color: #ee3643;
}

.button.button--user-login:active,
.button.button--user-reg:active,
.button.button--user-profile:active {
    color: rgba(0, 0, 0, 0.3);
}

.link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.link:hover {
    color: #ee3643;
}

.link:active {
    color: rgba(50, 66, 92, 0.3);
}

.link.link--underline {
    text-decoration: underline;
}

.page-nav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    color: #ffffff;

    background-color: #32425c;
}

.page-nav__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.page-nav__item a {
    display: block;
    padding: 22px 31px;

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
}

.page-nav__item a:hover {
    background-color: #293449;
}

.page-nav__item a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 23px 0 24px;

    list-style: none;
}

.breadcrumbs__item,
.breadcrumbs__item a {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.page-title {
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.section.section--promo-block {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 30px;
}

.section.section--promo-block .section__col {
    flex-shrink: 0;
    width: 620px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.card-list__item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-list.card-list--vertical .card-list__item {
    margin-right: 0;
}

.card-list.card-list--vertical {
    flex-direction: column;
}

.card-list.card-list--two-column .card-list__item:nth-child(2n) {
    margin-right: 0;
}

.card-list.card-list--three-column .card-list__item:nth-child(3n) {
    margin-right: 0;
}

.card-list.card-list--four-column .card-list__item:nth-child(4n) {
    margin-right: 0;
}

.promo-card {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    padding: 26px 23px 22px;

    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;

    background-color: #32425c;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promo-card.promo-card--materials {
    background-color: #ffbf47;
    background-image: url('../img/icon-1.svg');

}

.promo-card.promo-card--instrument {
    background-color: #3bbce3;
    background-image: url('../img/icon-2.svg');
}

.promo-card.promo-card--equipment {
    background-color: #dc91d8;
    background-image: url('../img/icon-3.svg');
}

.promo-card.promo-card--offers {
    background-color: #8ed78f;
    background-image: url('../img/icon-4.svg');
}

.promo-card.promo-card--delivery {
    background-color: #ffc047;
    background-image: url('../img/icon-5.svg');
}

.promo-card__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.promo-card__link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.promo-card__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-card__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.catalog-slider {
    font-family: 'Cuprum', Arial, sans-serif;
}

.catalog-slider__container {
    padding: 0;
    margin: 0;

    list-style: none;
}

.background-card {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.2);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.background-card.background-card--perforator {
    background-image: url('../img/perforators.jpg');
}

.background-card.background-card--drill {
    background-image: url('../img/drels.jpg');
}

.background-card__title {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.button.button--default {
    color: #ffffff;

    background-color: #ee3643;
}

.button.button--default:hover {
    background-color: #ca2c37;
}

.button.button--default:active {
    background-color: #ba2732;
}

.section__header {
    display: flex;
    padding: 33px 24px 35px 30px;
    margin-bottom: 20px;

    font-family: 'Cuprum', Arial, sans-serif;

    background-color: #f9f5f0;
}

.section__title {
    margin-top: 0;
    margin-bottom: 38px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}

.section__header .section__title {
    margin-right: auto;
    margin-bottom: 0;

    color: #32425c;
}

.product-card {
    width: 220px;
    min-height: 318px;

    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.product-card:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-card__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.product-card__price {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-card__price.card__price--old {
    color: #a9a9a9;
    text-decoration: line-through;
}

.product-card__price.card__price--offer {
    color: #ffffff;

    background-color: #ee3643;
    background-image: url('../img/red-button.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.button.button--buy {
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
}

.button.button--buy:hover {
    background-color: #5fbb2d;
}

.button.button--buy:focus {
    background-color: #518534;
}

.button.button--bookmarks {
    color: #32425c;

    border: 3px solid #63a63e;
}

.button.button--bookmarks:hover {
    border-color: #32425c;
}

.button.button--bookmarks:active {
    border-color: #32425c;
    opacity: 0.3;
}

.section.section--manufactures {
    padding-bottom: 85px;
}

.manufacturers {
    display: inline-block;
    width: 220px;
    vertical-align: middle;

    text-decoration: none;

    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.manufacturers img {
    max-width: 100%;
    max-height: 100%;
}

.manufacturers:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers:active img {
    opacity: 0.3;
}

.section.section--grey {
    background-color: #f4f7f9;
}

.section.section--services {
    padding-top: 68px;
    padding-bottom: 51px;
}

.services-slider {
    display: flex;
    padding-top: 46px;
    padding-bottom: 48px;
}

.services-slider__container,
.services-slider__nav {
    padding: 0;
    margin: 0;

    list-style: none;
}

.services-slider__nav-link {
    display: inline-block;
    width: 240px;
    vertical-align: middle;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;

    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-slider__nav-link:hover {
    background-color: #293449;
}

.services-slider__nav-link.services-slider__nav-link--active {
    color: #32425c;

    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.services {
    padding-left: 80px;
    padding-right: 80px;

    background-color: #f4f7f9;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services.services--delivery {
    background-image: url('../img/delivery.png');
}

.services.services--guarantee {
    background-image: url('../img/guarantee.png');
}

.services.services--credit {
    background-image: url('../img/credit.png');
}

.services__title {
    margin-top: 0;
    margin-bottom: 34px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.index-column {
    display: flex;
    padding-top: 82px;
    padding-bottom: 86px;
}

.section.section--contacts {
    width: 300px;
    margin-left: 100px;
}

.section.section--about .button {
    margin-top: 37px;
}

.accent-list {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;

    list-style: none;
}

.accent-list li:before {
    content: '';

    position: relative;
    top: -2px;

    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 10px;
    vertical-align: middle;

    background-color: #ee3643;
}

.map-link {
    text-decoration: none;
}

.page-footer {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;
}

.page-footer__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.page-footer__top {
    padding-bottom: 20px;

    background-color: #32425c;
}

.page-footer__contacts {
    margin-top: 0;
    margin-bottom: 0;
}

.page-footer__contacts,
.page-footer__contacts a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.page-footer__contacts a {
    text-decoration: none;
}

.page-footer__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    font-size: 18px;
    line-height: 24px;

    list-style: none;
}

.page-footer__list li {
    margin-left: 30px;
    margin-right: 30px;
}

.page-footer__list li:last-child {
    margin-right: 0;
}

.page-footer__list a {
    color: #ffffff;
    text-decoration: none;
}

.page-footer__list a:hover {
    text-decoration: underline;
}

.page-footer__list a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: underline;
}

.page-footer__list.page-footer__list--top {
    align-self: flex-end;
}

.page-footer__list.page-footer__list--wheat a {
    color: #ffd180;
}

.page-footer__list.page-footer__list--wheat a:active {
    color: rgba(255, 209, 128, 0.5);
}

.page-footer__bottom {
    padding-top: 35px;
    padding-bottom: 30px;

    background-color: #293449;
}

.page-footer__bottom .container {
    display: flex;
    justify-content: space-between;
}

.page-footer__copyright {
    width: 330px;
}

.page-footer__copyright,
.page-footer__feedback,
.page-footer__developer {
    margin: 0;

    font-size: 16px;
    line-height: 18px;
}

.page-footer__social {
    display: flex;
    padding: 0;
    margin: -3px;

    list-style: none;
}

.page-footer__social li {
    margin: 3px;
}

.social-button {
    color: #ffffff;
    text-decoration: none;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.page-footer__feedback,
.page-footer__developer {
    width: 135px;
}

.page-footer__feedback a,
.page-footer__developer a {
    color: #ffd180;
    text-decoration: none;
}

.page-footer__feedback a:hover,
.page-footer__developer a:hover {
    text-decoration: underline;
}

.page-footer__feedback a:active,
.page-footer__developer a:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-filter {
    width: 220px;
}

.catalog-filter__title {
    margin: 0;
}

.catalog-filter__title,
.catalog-sorter__title {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 1px;
}

.filter-form fieldset {
    border: 0;
}

.filter-form fieldset:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
}

.filter-form legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-form__price-values input {
    font-size: 17px;
    line-height: 18px;

    background-color: #f7f3ec;
    border: 0;
    border-radius: 1px;
}

.filter-form__fields {
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    list-style: none;
}

.button.button--white {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 1px;
}

.button.button--white:hover {
    border: solid 1px #bdc6ca;
}

.button.button--white:active {
    border: solid 1px #ee3643;
}

.pagination {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.pagination__item.pagination__item--active .button {
    color: #ffffff;

    background-color: #ee3643;
    border: solid 1px #ee3643;
}

.section.section--catalog {
    width: 700px;
    margin-bottom: 60px;
}

.catalog-sorter {
    display: flex;
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 18px;

    background-color: #f7f3ec;
    border-radius: 1px;
}

.catalog-sorter__list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
}

.catalog-sorter__link {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-sorter__link:hover {
    color: #000000;
}

.catalog-sorter__list.catalog-sorter__list--by .catalog-sorter__link {
    border-bottom: 1px dotted #ee3643;
}

.catalog-sorter__list.catalog-sorter__list--by .catalog-sorter__link:hover {
    border-bottom-style: solid;
}

.catalog-sorter__link:active,
.catalog-sorter__link.catalog-sorter__link--active,
.catalog-sorter__list.catalog-sorter__list--by .catalog-sorter__link:active,
.catalog-sorter__list.catalog-sorter__list--by .catalog-sorter__link.catalog-sorter__link--active {
    color: #ee3643;

    border-bottom: 0;
}

.section.section--default {
    padding-top: 67px;
    padding-bottom: 73px;
}